<div class="vewidget vewidgetcard" data-vewidget="{{type}}" contenteditable="false">
    <section class="card card{{type}}">
        <div class="vewidgethead">
            <button type="button" class="vewidgetbtn" data-widget-action="move-up" title="Move up"><img src="assets/images/icons/up.png"></button>
            <button type="button" class="vewidgetbtn" data-widget-action="move-down" title="Move down"><img src="assets/images/icons/down.png"></button>
            <button type="button" class="vewidgetbtn" data-widget-action="delete-widget"><img src="assets/images/icons/x.png"></button>
        </div>
        <h3><img class="cardicon" src="assets/images/icons/{{type}}.png"> <span contenteditable="true">Card title</span></h3>
        <p contenteditable="true">Card text</p>
    </section>
</div>
<p><br></p>
