<div class="vewidget vewidgetinfobox" data-vewidget="infobox" data-ve-align="right" contenteditable="false">
    <aside class="infobox">
        <div class="vewidgethead">
            <button type="button" class="vewidgetbtn" data-widget-action="move-up" title="Move up"><img src="assets/images/icons/up.png"></button>
            <button type="button" class="vewidgetbtn" data-widget-action="move-down" title="Move down"><img src="assets/images/icons/down.png"></button>
            <button type="button" class="vewidgetbtn" data-widget-action="toggle-align" title="Toggle side"><img src="assets/images/icons/left.png"></button>
            <button type="button" class="vewidgetbtn" data-widget-action="add-row"><img src="assets/images/icons/plus.png"></button>
            <button type="button" class="vewidgetbtn" data-widget-action="delete-widget"><img src="assets/images/icons/x.png"></button>
        </div>
        <h3 contenteditable="true">Infobox title</h3>
        <div class="veimagewrap">
            <img class="vewidgetimagepreview" data-image-src="{{defaultImage}}" src="{{defaultImage}}">
            <input class="veimagepathinput" value="{{defaultImage}}" data-widget-action="edit-image-path">
        </div>
        <table><tbody class="veiboxrows"></tbody></table>
    </aside>
</div>
<p><br></p>
