<div class="vewidget vewidgetmsg" data-vewidget="msg" contenteditable="false">
    <section class="msg">
        <div class="vewidgethead">
            <button type="button" class="vewidgetbtn" data-widget-action="move-up" title="Move up"><img src="assets/images/icons/up.png"></button>
            <button type="button" class="vewidgetbtn" data-widget-action="move-down" title="Move down"><img src="assets/images/icons/down.png"></button>
            <button type="button" class="vewidgetbtn" data-widget-action="delete-widget"><img src="assets/images/icons/x.png"></button>
        </div>
        <img class="msgicon" src="assets/images/msg/welcome.gif">
        <div class="msgcontent">
            <p class="msglabel"><strong contenteditable="true">Message:</strong></p>
            <p class="msgtext" contenteditable="true">Message text</p>
        </div>
    </section>
</div>
<p><br></p>
